_target_: usaugment.models.segmentation.BinarySegmentationModel

model:
  _target_: monai.networks.nets.FlexibleUNet
  in_channels: ${in_channels}
  out_channels: 1
  backbone: efficientnet-b5
  pretrained: True
  dropout: 0.4

optimizer_partial:
  _partial_: true
  _target_: torch.optim.Adam
  lr: ${lr}
  weight_decay: ${weight_decay}
