# @package _global_
defaults:
  - /model: efficientnetb0_multiclass

num_classes: 3
in_channels: 3
label_smoothing: 0.0
lr: 0.000443489
weight_decay: 0.000584022
epochs: 200
dropout: 0.451785
batch_size: 128
accumulate_grad_batches: 1
task: classification
key_metric: avg_precision
version: aul_mass_v5

dataset:
  _target_: usaugment.data.ClassificationDataset
  label_key: label


task_name: ${version}_mass_classification